
*{
  margin: 0px;
  padding: 0px;
}

body{

  font-family: serif;
}
.navbar{
background-color:rgba(219,90,25,1);
}
.nav-link{
  color: white;
  font-family: serif;

}
.navbar-brand{
  font-family:fantasy;
  color: white;
  padding-right: 50px;
}
.navbar-toggler-icon{
  background-color: white;
}

.input{
  background: rgba(255,255,255,0.5);
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid black;
  font-size: 21px;
  margin-bottom: 20px;


}
.tag{
  margin-left: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: fantasy;
}
